@model LMSFinance.Models.Subject

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Subject</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.SubjectID)

    <div class="form-group">
        <div class="col-md-2 control-label">Subject Name </div>
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.SubjectName, new SelectList(ViewBag.DetailName, "Value", "Text"), "Select Subject", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SubjectName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2 control-label">Faculty </div>
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.FacultyName, new SelectList(ViewBag.Faculty, "Value", "Text"), "Select Faculty", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FacultyName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">Duration</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">Unit</div>
        <div class="col-md-10">
            <div class="checkbox">
                @Html.DropDownListFor(m => m.Unit, (IEnumerable<SelectListItem>
                    )(new[] {
                        new SelectListItem() { Text = "Subjects" },
                        new SelectListItem() { Text = "Credits" },
                    }), "Select Unit", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Unit, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">Fee Per Unit</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.PerUnit, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PerUnit, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">Total</div>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.TotalFee, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="control-label col-md-2">Status</div>
        <div class="col-md-10">
            <div class="checkbox">
                @Html.DropDownListFor(m => m.Status, (IEnumerable<SelectListItem>
                )(new[] {
                    new SelectListItem() { Text = "Coming Soon" },
                    new SelectListItem() { Text = "Applying" },
                    new SelectListItem() { Text = "Stop Applying" },
                }), "Select Unit", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Status, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2 control-label">School Year </div>
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.SchoolYear, new SelectList(ViewBag.School, "Value", "Text"), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SchoolYear, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a class="btn btn-primary" @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>
}
