@model LMSFinance.Models.Student
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Student Id
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>

        <dt>
            Student Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            Birthday
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoB)
        </dd>

        <dt>
            Class Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassName)
        </dd>

        <dt>
            Grade Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GradeName)
        </dd>

        <dt>
            Phone Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            Object
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Object)
        </dd>

        <dt>
            School Fee
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolFee)
        </dd>

        <dt>
            Admission Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdmissionDate)
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            Claimed Fee
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RealMoney)
        </dd>

        <dt>
            Payment Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>

    </dl>
</div>

<a class="btn btn-primary" @Html.ActionLink("Edit", "Edit", new { id = Model.StudentId })
<a class="btn btn-primary" @Html.ActionLink("Back to list", "Index", new { id = Model.StudentId })
