@model LMSFinance.Models.FormModel


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <h3> Student Info</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Student ID</th>
                    <th>Student Name</th>
                    <th>Date of Birth</th>
                    <th>Grade</th>
                    <th>Class</th>
                    <th>Phone Number</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Studentss)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.StudentId)</td>
                        <td>@Html.DisplayFor(modelItem => item.StudentName)</td>
                        <td>@Html.DisplayFor(modelItem => item.DoB)</td>
                        <td>@Html.DisplayFor(modelItem => item.GradeName)</td>
                        <td>@Html.DisplayFor(modelItem => item.ClassName)</td>
                        <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <h3>Submitted Subject</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Subject ID</th>
                    <th>Subject Name</th>
                    <th>Duration</th>
                    <th>Unit</th>
                    <th>Fee</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Subjectss)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.SubjectID)</td>
                        <td>@Html.DisplayFor(modelItem => item.SubjectName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Duration)</td>
                        <td>@Html.DisplayFor(modelItem => item.Unit)</td>
                        <td>@Html.DisplayFor(modelItem => item.TotalFee)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h3>Claimed Fee Receipt</h3>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <table class="table">
         <thead>
             <tr>
                 <th>Duration</th>
                 <th>Fee Per Unit</th>
                 <th>Shool Fee</th>
                 <th>Collect Method</th>
                 <th>Discount Object</th>
                 <th>Discount Check</th>
                 <th>Discount Type</th>
                 <th>Sub-Fee Check</th>
                 <th>Sub-Fee</th>
                 <th>Sub-Fee Description</th>
                 <th>Collected Date</th>
                 <th>Money</th>
             </tr>
         </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => Model.Receipt.TotalDuration, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.DisplayFor(model => Model.Receipt.FeePerUnit, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.DisplayFor(model => Model.Receipt.TotalSchoolFee, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.EditorFor(model => Model.Receipt.CollectMethod, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => Model.Receipt.CollectMethod, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.DisplayFor(model => Model.Receipt.DiscountObject, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.EditorFor(model => Model.Receipt.Sale)
                    @Html.ValidationMessageFor(model => Model.Receipt.Sale, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.DropDownListFor(modelItem => Model.Receipt.SaleType, new SelectList(ViewBag.Present, "Value", "Text"), "Select Prize", new { @class = "form-control" })
                </td>
                <td>
                    @Html.EditorFor(modelItem => Model.Receipt.TotalSubFeeCheck)
                    @Html.ValidationMessageFor(modelItem => Model.Receipt.TotalSubFeeCheck, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(modelItem => Model.Receipt.TotalSubFee, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(modelItem => Model.Receipt.TotalSubFee, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(modelItem => Model.Receipt.SubFeeDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(modelItem => Model.Receipt.SubFeeDescription, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.DisplayFor(model => Model.Receipt.CollectedDate, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    @Html.DisplayFor(model => Model.Receipt.Money, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
    </tbody>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
             <input type="submit" value="Print" class="btn btn-primary" />
        </div>
    </div>
</table>
}



